*
{
	padding:0;
	margin:0;
}
.main_content
{
	background-color:#2eb398;
	height:100%;
	padding-bottom:7.5%;
	font-family:Myraid Pro;
	text-align:justify;
}
.main_content h3
{
	color:white;
}
.main_content span
{
	color:#248f79;
}
.main_content p
{
	color:#fff;
}
.main_content i
{
	
	color:#00ab94;
	font-size:12px;
	height:20px;
	width:20px;
	text-align:center;
	padding:5px;
	border:1px solid #6dcbbe;
	background-color:#6dcbbe;
	
	
}
.header_bg{
	background: #323232;
}
.h_logo{
	display: none;
}
/* top-nav */
.top-nav:before,.top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
.top-nav {
 
    margin: 0;
}
nav {
	width: 100%;
	position: relative;
}
nav ul {
	padding: 0;
	text-align:center;
}
nav li {
	display: inline-block;
	margin: 10px 8px;
}
nav li.active a,nav li  a:hover{
	text-decoration:none;
	color: #2EB398;
}
nav li  a {
	color: #fff;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 5px;
	text-transform: uppercase;
	font-size: 14px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	/* margin-top: -24px; */
	/* margin-left: 20px; */
}
nav a#pull {
	display: none;
}
.specials {
	position: relative;
}
.specials:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 40px solid #323232;
	border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 40px solid rgba(0, 0, 0, 0)!important;
	border-left: 40px solid rgba(0, 0, 0, 0)!important;
	left: 50%;
	bottom: -40px;
	margin-left: -45px;
}
/*Styles for screen 600px and lower*/
@media screen and (max-width: 768px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		text-align:left;
  		width: 100%;
  		position: relative;
  		margin: 0;
  	}
  	nav li a {
		border-top: 1px solid #242424;
	}
	nav li:last-child a {
		border-bottom: 1px solid #242424;
		margin-bottom: 20px;		
	}

  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}


	

 .name
{
	margin-top:3%;
	text-align:left;
	text-align:justify;
	
}
.footer1
{
	background-color:#323232;
    height:100%;
	color:#fff;
	text-align:justify;
	padding:6%;
}
.footer2
{
	background:#222222;
	height:20%;
	color:#3d3d3d;
	padding:1%;
}
.footer1 i
{
  color:#2eb398;
}
@media screen and (max-width:768px){
	.hexa-img
	{
		text-align:center;
		margin-top:10%;
	}
}